name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
          - '13.0'
    timeout-minutes: 240
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set output
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Setup Bundle
      run: bundle install
    - name: Setup Keychain
      env:
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
      run: bundle exec fastlane setup
    - name: Fetch Provisioning Profile
      env:
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }} 
        MATCH_REPO: ${{ secrets.MATCH_REPO }}
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
      run: bundle exec fastlane certificates 

    # intel binary
    - name: Build Intel Binary
      run: make build xcode=13.0 is_ci=true     
    - name: Notorize Intel Binary
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }} 
        FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD : ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
        FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
        TEAM_NAME: ${{ secrets.TEAM_NAME }} 
        TEAM_ID: ${{ secrets.TEAM_ID }}
        CODESIGN_CERTIFICATE: ${{ secrets.CODESIGN_CERTIFICATE }}
      run: bundle exec fastlane notorize
    - name: Appcast for Intel Binary
      env:
        SPARKLE_PRIVATE_KEY: ${{ secrets.SPARKLE_PRIVATE_KEY}}
        RELEASE_VERSION: ${{ env.RELEASE_VERSION }}
      run: bundle exec fastlane intel_appcast

    # apple silicon binary
    - name: Build Apple Silicon Binary
      run: make build_apple_silicon xcode=13.0 is_ci=true  
    - name: Notorize Apple Silicon Binary
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }} 
        FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD : ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
        FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
        TEAM_NAME: ${{ secrets.TEAM_NAME }} 
        TEAM_ID: ${{ secrets.TEAM_ID }}
        CODESIGN_CERTIFICATE: ${{ secrets.CODESIGN_CERTIFICATE }}
      run: bundle exec fastlane notorize
    - name: Appcast for Apple Silicon Binary
      env:
        SPARKLE_PRIVATE_KEY: ${{ secrets.SPARKLE_PRIVATE_KEY}}
        RELEASE_VERSION: ${{ env.RELEASE_VERSION }}
      run: bundle exec fastlane apple_silicon_appcast
    
      # create release
    - name: "Create Release"
      uses: ncipollo/release-action@v1
      with:
        artifacts: "intel/tulsi_plus_plus-darwin_x86_64.zip,intel/tulsi_plus_plus-darwin_x86_64.dmg,apple_silicon/tulsi_plus_plus-darwin_arm64.zip,apple_silicon/tulsi_plus_plus-darwin_arm64.dmg"
        bodyFile: "binary/tulsi_plus_plus.html"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Clean up Git Changes
      run: bundle exec fastlane clean_up_binary
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
          token: ${{ secrets.BOT_ACCESS_TOKEN }}
          committer: Wendy's Github Bot <github-bot@wendyliga.com>
          author: Wendy's Github Bot <github-bot@wendyliga.com>
          commit-message: 'update appcast'
          title: 'Update appcast.xml'
          branch: update_appcast
          base: main
          branch-suffix: timestamp
          reviewers: wendyliga
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
      
          
          
      