name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release
    runs-on: macos-latest
    strategy:
      matrix:
        xcode:
          - '13.0'
    timeout-minutes: 240
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set output
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Setup Bundle
      run: bundle install
    - name: Setup Keychain
      env:
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
      run: bundle exec fastlane setup
    - name: Fetch Provisioning Profile
      env:
        KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }} 
        MATCH_REPO: ${{ secrets.MATCH_REPO }}
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
      run: bundle exec fastlane certificates 
    - name: Build
      run: make build xcode=13.0 is_ci=true     
    - name: Notorize
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }} 
        FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD : ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
        FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
        TEAM_NAME: ${{ secrets.TEAM_NAME }} 
        TEAM_ID: ${{ secrets.TEAM_ID }}
        CODESIGN_CERTIFICATE: ${{ secrets.CODESIGN_CERTIFICATE }}
        SPARKLE_PRIVATE_KEY: ${{ secrets.SPARKLE_PRIVATE_KEY}}
        RELEASE_VERSION: ${{ env.RELEASE_VERSION }}
      run: bundle exec fastlane release
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          binary/tulsi_plus_plus.zip
          binary/tulsi_plus_plus.dmg
          
      